.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%; //first value stands for flex grow, second value for flex shrink, third is for flex bases (not sure if I completely understand this)
}

.hotel-view {
    background-color: #fff;
    background: orange;
    flex: 1;
}