/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* setting cross browser defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    /* we can specifically use Lato because we imported it from Google Fonts in the head element in index.html */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
}

.header {
    /* 95% of the viewport height */
    height: 95vh;
    background-image:
        linear-gradient(
            to right bottom,
            rgba(126,213,111,0.8),
            rgba(40, 180, 131, 0.8)
            ),
            url(../img/hero.jpg);
    background-size: cover;
    /* image will always stay at top of the background even as browser is resized */
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 74%, 0 100%);
}

.logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.logo {
    height: 3.5rem;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    /* this solves a small animation bug */
    backface-visibility: hidden;
    margin-bottom: 60px;
}

.heading-primary-main {
    /* block occupies 100% of the width */
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    /* other cool animation properties */
    /* animation-delay: 3s;
    animation-iteration-count: 3; */

}

.heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;

    /* more efficient way */
    animation: moveInRight 1s ease-out;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    /* when the animation starts */
    0% {
        opacity: 0;
        /* remidner: x axis is left to right */
        transform: translateX(-10rem);

    }

    80% {
        transform: translate(1rem);
    }

    /* when the animation finishes */
    100%{
        opacity: 1;
        /* translate(0) sets back to default */
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translate(-1rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

/* link is a special state of a selector when it is an anchor element so it functions as a link  */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    /* negative values to go up */
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
}

.btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0, .2);

}

.btn-white {
    background-color: #fff;
    color: #777;
}

/* this is a pseudo element */
.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/* .75s represents the animation delay */
.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    /*helps apply the properties before the animation starts */
    /* without this, the button wouldn't be hidden */
    animation-fill-mode: backwards;
}
